* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Georgia, "Times New Roman", serif;
  background: #f3f3f3;
  color: #1f5e2f;
}

/* HEADER */
.header {
  background: #145d23;
  color: #ffffff;
  padding: 20px 30px;
  border-bottom: 6px solid #c6cec2;
  text-align: center;
}

.header h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0;
}

/* MAIN */
.container {
  text-align: center;
  padding: 50px 20px 80px;
}

.logo {
  width: 170px;
  height: auto;
  display: block;
  margin: 0 auto 40px;
}

.welcome {
  font-size: .95rem;
  margin-bottom: 25px;
}

.description {
  max-width: 700px;
  margin: 0 auto;
  font-size: .85rem;
  font-style: italic;
  line-height: 1.8;
}

.divider {
  width: 85%;
  max-width: 800px;
  height: 3px;
  background: #b5c1ae;
  margin: 40px auto 55px;
}

/* LOGIN BOX */
.login-box {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  background: #ececec;
  border-radius: 15px;
  padding: 35px 25px;
}

.login-box h2 {
  font-size: 1.05rem;
  margin-bottom: 25px;
}

.student-id {
  width: 100%;
  padding: 16px 18px;
  border: none;
  border-radius: 10px;
  background: #b9c4b2;
  color: #1f5e2f;
  font-family: Cambria, serif;
  font-size: .85rem;
  margin-bottom: 18px;
  outline: none;
}

.student-id::placeholder {
  color: #2a5d34;
}

.login-btn {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 10px;
  background: #145d23;
  color: #ffffff;
  font-family: Cambria, serif;
  font-size: .90rem;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background: #114d1e;
}

.request {
  margin-top: 30px;
  font-size: .85rem;
}

.request a {
  color: #145d23;
  font-weight: bold;
  text-decoration: underline;
}

/* FOOTER */
.footer-top {
  background: #bcc8b7;
  padding: 35px 25px;
  color: #1f5e2f;
}

.footer-top h3 {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 15px;
  font-weight: normal;
}

.footer-top p {
  line-height: 1.8;
  font-size: .8rem;
}

.footer-bottom {
  background: #145d23;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  font-size: .7rem;
}

/* MOBILE */
@media (max-width:600px) {
  
  .header {
    padding: 15px 20px;
  }
  
  .header h1 {
    font-size: 1.5rem;
  }
  
  .logo {
    width: 150px;
  }
}
